@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v15/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvao7CIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 200;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVuEorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpbCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pbCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapbCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtzpbCIPrQ.ttf) format('truetype');
}
html{
  font-family: 'Open Sans', sans-serif !important; 
  scroll-behavior: smooth;
}
img.wp-smiley,
        img.emoji {
            /* display: inline !important; */
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
.btn-success{
  background-color:#55A747 ;
}
.btn-success:hover{
  background-color:#55A747 ;
}
.cards{
  border-radius: none !important;
  border: none !important;
}




/*========================================================================================================================================== */
/* ______________________________________________________________________Index_________________________________________________________ */


#header{
  background-color: black;
}

.header-inner{
  margin-top: 85px !important;
}
.line{
  width: 500px;
  height: 4px;
  background-color: #8a857c6e;
}

.background{
  margin-top: 135px !important;
background-color: #f5f6f8 !important;
}

#navbar {
  /* border-bottom : 3px solid #3797a4; */
  background: #FFFFFF;
  top: 0;
  z-index: 10;
  width: 100%;
  display: block;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}
.navbar a {
  
  color: #555555 !important;
  

  font: Normal 12px/19px "Montserrat", sans-serif !important;
    letter-spacing: 0px !important;
    text-transform: uppercase !important;
}

#header1{
     
  height: 68vh;
  
          /* background: url('/img/header1.jpg')  no-repeat center/cover; */
background: grey;          /* background: linear-gradient(180deg,  #18304bf1, #18304bf1), url('/img/header.jpg')  no-repeat center/cover; */
          /* background: linear-gradient(360deg,  #203f62, #070d13) fixed; */


}

/* .fas{
  color: #c8c8c8;
}
.fas:hover{
  color: white !important;
} */


.inner-card{
  border: solid 0.5px rgba(128, 128, 128, 0.089);
  background-color: #f9f9f9;
  transition: all ease-in-out 0.3s;
}
.inner-card:hover{
  
  background-color: #FCFCFC;
}


.inner-card p{
  font-size: 14px;
  color: #979797;

}

.inner-card a{
  font-size: 14px;
  color: rgb(88, 88, 88);
  text-decoration: none !important;
}
.fal{
  font-size: 14px;
  font-weight: 500;
}

.join{
  border-bottom:dotted 1px black; padding-bottom:3px; color:#006ba1;
  transition: all ease-in-out 0.3s;
}

.join:hover{
 color:red;
}

input{
  color: white !important;
  height: 45px !important;
  border-radius: 0px !important;
}
select{

  height: 45px !important;
  border-radius: 0px !important;
}

#testimonial .carousel-indicators li {
  background: 0 0;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 100%;
}
.carousel-indicators li {
  background: 0 0;
  width: 8px;
  height: 8px;
  border: 2px solid #fff;
  border-radius: 100%;
}
#testimonial {
  background: #777777;
}
#testimonial .carousel-indicators li {
  border: 2px solid #000 !important;
}

#testimonial .carousel-indicators .active {
  background: #000 !important;
}
.text-dark{
  color: #979797 !important;
}




/*========================================================================================================================================== */
/* ______________________________________________________________________Jobs_________________________________________________________ */


#header2 {
     
  height: 40vh;
  
          /* background: url('/img/header1.jpg')  no-repeat center/cover; */
          background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.438)), to(rgba(0, 0, 0, 0.9))), url('') ;

          /* background: linear-gradient(180deg,  #18304bf1, #18304bf1), url('/img/header.jpg')  no-repeat center/cover; */
          /* background: linear-gradient(360deg,  #203f62, #070d13) fixed; */


}

.jobs_background{
  margin-top: 0px !important;
/* background-color: #f5f6f8 !important; */
}

.jobs-header-inner{
  margin-top: 55px !important;
}

.job_cards{
  border-radius: none !important;
  border: none !important;
}

.jobs-inner-card{
  border: solid 0.5px rgba(128, 128, 128, 0.089);
  /* background-color: white; */
  transition: all ease-in-out 0.3s;
}

.jobs-inner-card h6{
  margin-top: 5px;
}

.jobs-inner-card h6:hover{
  color: rgb(85, 167, 71) !important;
}

.jobs-inner-card p{
  font-size: 12px;
  color: rgb(88, 88, 88);
}

.jobs-inner-card a{
  margin-top: 2px;
  font-size: 12px;
  color: rgb(85, 167, 71) !important;
  text-decoration: none !important;
}

.sidebar-filters{
  /* border-radius: 1px !important; */
  border-color: grey !important;
  border: 0.5px !important;
}

.btn-outline-dark{
  width: 110px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-outline-dark:hover{
  color: #55A747 !important; 
  background-color: #fff;
  border-color: #55A747;
}



/*========================================================================================================================================== */
/* ______________________________________________________________________Candidates_________________________________________________________ */


#header3{
     
  height: 48vh;
  
          /* background: url('/img/header1.jpg')  no-repeat center/cover; */
background: grey;          /* background: linear-gradient(180deg,  #18304bf1, #18304bf1), url('/img/header.jpg')  no-repeat center/cover; */
          /* background: linear-gradient(360deg,  #203f62, #070d13) fixed; */


}

.candidates_background{
  margin-top: 130px !important;
/* background-color: #f5f6f8 !important; */
}

.candidates-header-inner{
  margin-top: 100px !important;
}

.candidates_cards{
  border-radius: none !important;
  border: none !important;
}

.candidates-inner-card{
  border: solid 0.5px rgba(128, 128, 128, 0.089);
  /* background-color: white; */
  transition: all ease-in-out 0.3s;
}

.candidates-inner-card h6{
  margin-top: 8px;
  margin-bottom: 5px !important;
}

.candidates-inner-card h6:hover{
  color: rgb(85, 167, 71) !important;
}

.candidates-inner-card p{
  font-size: 12px;
  color: rgb(88, 88, 88);
  margin-bottom: 5px !important;
}

.candidates-inner-card a{
  font-size: 12px;
  color: rgb(85, 167, 71) !important;
  text-decoration: none !important;
}

 .candidates-btn{
  width: 115px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 0px;
}
/*
.btn-outline-dark:hover{
  color: #55A747 !important; 
  background-color: #fff;
  border-color: #55A747;
} */




/*========================================================================================================================================== */
/* ______________________________________________________________________LogIn_Page_________________________________________________________ */


#header4{
     
  height: 42vh;
  
          /* background: url('/img/header1.jpg')  no-repeat center/cover; */
background: grey;          /* background: linear-gradient(180deg,  #18304bf1, #18304bf1), url('/img/header.jpg')  no-repeat center/cover; */
          /* background: linear-gradient(360deg,  #203f62, #070d13) fixed; */


}

.SignUp_background{
  margin-top: 130px !important;
/* background-color: #f5f6f8 !important; */
}

.SignUp-header-inner{
  margin-top: 100px !important;
}


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.SignUP_container {
  padding: 45px;
  width: 630px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}


#SignUp{
  height: 75vh;
}




/*========================================================================================================================================== */
/* ______________________________________________________________________Candidates_Dashboard_________________________________________________________ */

.candidate-header-inner{
  margin-top: 100px !important;
}


.resume{
  border-radius: none !important;
  border: none !important;
}

.candidates_profile{
  border-radius: none !important;
  border: none !important;
}


.profile_tabs{
  border-radius: none !important;
  border: none !important;
}


.sidebar-tabs {
  background-color: #fff;
  width: 265px;
  border-bottom: 2.5px solid;
  border-color: whitesmoke;
}

.sidebar-tabs:hover{
  border-color: #55a755;
  color: #55a755;
  }
  
.sidebar-tabs a{
  color: inherit;
  margin-left: 4px;
  font-size: 14px;
  text-decoration: none !important;
}

.sidebar-tabs a:hover{
  color: #55A747;
}

.sidebar-filters{
  /* border-radius: 1px !important; */
  border-color: grey !important;
  border: 0.5px !important;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }

.map-container iframe{
  left:0;
  top:0;
  height: 300px;
  width:100%;
  position:absolute;
  }

.addnew_icon{
  color: #55A747;
  }
  
.addnew_icon p{
  font-size: 15px;
  text-decoration:#55A747 underline ;
  cursor: pointer;
  }
  

.qualification_card{
  margin-top: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  border-color: #e4e1e1;

}

.qualification_card a{
  color: black !important;
  font-size: 14px;
  font-weight: bold;
}

.qualification_card p{
  color: #777777;
  font-size: 12px;
  font-weight: 700;
}

.qualification_card .card{
  width: 85px max-content;
}

.experiance_card{
  margin-top: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  border-color: #e4e1e1;

}

.experiance_card a{
  color: black !important;
  font-size: 14px;
}

.experiance_card p{
  color: #777777;
  font-size: 12px;
  font-weight: 700;
}

.experiance_card .card{
  width: max-content;
}

#portfolioPic {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#portfolioPic:hover {opacity: 0.7;}


.skill_card{
  margin-top: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  border-color: #e4e1e1;

}

.skill_card a{
  color: black !important;
  font-size: 14px;
}

.skill_card p{
color: #777777;
  font-size: 12px;
  font-weight: 700;
}

.skill_card .card{
  width: max-content;
}

.awards_card{
  margin-top: 18px;
  padding-bottom: 16px;
  border-bottom: 1px solid;
  border-color: #e4e1e1;

}

.awards_card a{
  color: black !important;
  font-size: 14px;
}

.awards_card p{
color: #777777;
  font-size: 12px;
  font-weight: 700;
}

.awards_card .card{
  width: max-content;
}


.shortlistedJobs_card{
  border: solid 0.5px rgba(128, 128, 128, 0.089);
  /* background-color: white; */
  transition: all ease-in-out 0.3s;
  margin-top: 20px;
  cursor: pointer;
}

.shortlistedJobs_card h6{
  margin-top: 20px;
}

.shortlistedJobs_card p{
  font-size: 12px;
  color: rgb(88, 88, 88);
}

.appliedJobs_card{
  border: solid 0.5px rgba(128, 128, 128, 0.089);
  /* background-color: white; */
  transition: all ease-in-out 0.3s;
  margin-top: 20px;
  cursor: pointer;
}

.appliedJobs_card h6{
  margin-top: 20px;
}

.appliedJobs_card p{
  font-size: 12px;
  color: rgb(88, 88, 88);
}

.progressIndicatorYes{
  text-align: center;
  border: solid thin #55A747;
  color: #55A747;
}

.progressIndicatorNo{
  text-align: center;
  border: solid thin rgb(230, 38, 38);
  color: rgb(230, 38, 38);
}

.jobAlerts_card{
  border: solid 0.5px rgba(128, 128, 128, 0.089);
  /* background-color: white; */
  transition: all ease-in-out 0.3s;
  margin-top: 20px;
  cursor: pointer;
}

.jobAlerts_card h6{
  margin-top: 20px;
}

.jobAlerts_card p{
  font-size: 12px;
  color: rgb(88, 88, 88);
}

.CVBox{
  border: solid 1px  rgba(27, 27, 27, 0.096);
  padding: 15px;
  padding-left: 25px !important;
}

.CVBox p{
  font-size: 13.5px;
  color: rgb(8, 8, 8);
}

.CVBox .btn-default:hover{
  background-color: white !important;
  cursor: pointer;
}













/*========================================================================================================================================== */
/* ______________________________________________________________________Candidates_Profile_________________________________________________________ */



#Profile_Overview{
     
  height: 100%;
  
          /* background: url('/img/header1.jpg')  no-repeat center/cover; */
          /* background: linear-gradient(180deg,  #18304bf1, #18304bf1), url('/img/header.jpg')  no-repeat center/cover; */
          /* background: linear-gradient(360deg,  #203f62, #070d13) fixed; */

}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url();

  background: #313540;

  /* Set a specific height */
  height: 37vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



.profile_header{
  padding: 20px;
}

.name_plate{
  text-decoration: none;
}

 .name_plate a{
  font: Normal 20px "Raleway", sans-serif !important;
  color: whitesmoke !important;
  font-weight: bold !important;
}

.name_plate p{
  font: Normal 13px "Montserrat", sans-serif !important;
  color: #ccc !important;
} 

.fa {
  padding: 1px;
  font-size: 8px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin-top: 4px;
  margin-right: 3px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
background: white;
color: #3B5998;
}

.fa-twitter {
background: white;
color: #55ACEE;
}

.fa-linkedin {
  background: white;
  color: #007bb5;
}

/* .profile-overview{
  

} */

.overview_navbar {
  /* border-bottom : 3px solid #3797a4; */
  background: #FFFFFF;
  top: 0;
  z-index: 10;
  width: 50%;
  display: block;
  -webkit-transition: top 0.3s;
  -o-transition: top 0.3s;
  transition: top 0.3s;
}
.overview_navbar a {
  
  color: #CCCCCC !important;
  

  font: Normal 13px "Montserrat", sans-serif !important;
    letter-spacing: 0px !important;
}

.overview_navbar ul{
  display: block;
  width: max-content; 
  justify-items: center;
  padding-inline-start: 35px;

}

.overview_navbar ul li{
  display: block;
  padding-inline-end: 28px;
  width: max-content; 
  justify-items: center;

}

.memberInfo{
  margin-left: 62px !important;
  margin-top: 74px !important;
}

.memberInfo p{
  font: Normal 13px "Montserrat", sans-serif;
  color: #CCCCCC; 
}

#resume_profile{
  border-radius: none !important;
  border: none !important;
}

.CV{
  margin-left: 105px;
  margin-top: 55px;
  margin-bottom: 35px;
  width: 750px;
}

#candidate_about{

  font: Normal 13px "Montserrat", sans-serif;
  color: #757575;
  line-height: 1.8em;

}

/* .about_section p{
  line-height: 1.8em;
} */

#candidate_education{

  font: Normal 13px "Montserrat", sans-serif;
  color: #757575;
  line-height: 1.8em;
  
}

.education_section a{

  font: Normal 14px "Montserrat", sans-serif !important;
  color: #999999 !important;

}

.education_section span{

  font: bold 14px "Raleway", sans-serif !important;
  color: #424242 !important;
  letter-spacing: 1px !important;

}




#candidate_experiance{

  font: Normal 13px "Montserrat", sans-serif;
  color: #757575;  
  line-height: 1.8em;
  
}

.experiance_section a{

  font: Normal 14px "Montserrat", sans-serif !important;
  color: #999999 !important;

}




#candidate_skills{
  
  font: Normal 13px "Montserrat", sans-serif;
  color: #757575; 
  line-height: 1.8em; 
  
}

.progress{
  border-start-start-radius: 0% !important;
  border-end-start-radius: 0% !important;
}

.progress-bar{
  border-start-start-radius: 0% !important;
  border-end-start-radius: 0% !important;
}



#candidate_videos{
  
  font: Normal 13px "Montserrat", sans-serif;
  color: #757575;  
  line-height: 1.8em;
  
}

.video_section{
  width: 650px;
  margin-left: 50px;
  margin-top: 25px;
}

#candidate_awards{
  
  font: Normal 13px "Montserrat", sans-serif;
  color: #757575;  
  line-height: 1.8em;
  
}

.awards_section a{

  font: Normal 14px "Montserrat", sans-serif !important;
  color: #999999 !important;

}

.candidate-contact-form{
  width: 355px;
  height: 510px;
  margin-top: -60px;
  margin-left: -25px;
  z-index: -1;
  background-color: #FCFCFC;
  border: solid 1px #f1f1f1;
  
}

.candidate-contact-form .input-group{
  margin-bottom: 5px;
  padding: 5px;
  width: 320px;
}


 .tacbox {
  padding: 5px;
  margin-left: 1px;
  max-width: 345px;
}

.tacbox input {
  height: 1em;
  width: 1em;
  vertical-align: middle;
}
